@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.container{
    width: 900px;
    margin: auto;
}
h1,h2{
    text-transform: uppercase;
    text-align: center;
    margin:0;
}
h2{
    font-size: 16px;
    font-weight: 300;
}
h1{
    font-size: 30px;
}
.bloco-branco{
    padding: 50px;
    width: 50%;
    display: inline-block;
}
.bloco-cinza{
    background-color: #151414;
    color: white;
    padding: 30px;
    width: 20%;
    display: inline-block;
}
.bloco-cinza p{
    margin: 0;
    font-size: 12px;
    text-align: center;
}
.bloco-cinza img{
    width: 100%;
    border-radius: 50%;
}
.bloco-cinza .titulo{
text-transform: uppercase;
border: white solid 1px;
padding: 15px;
text-align: center;
}
.bloco-branco .titulo{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    border-bottom: gray solid 1px;
    padding-bottom: 12px;
}
.descricao{
    font-size: 12px;
    color: grey;
    display: inline-block;
}
.lista-ano{
    list-style:none;
}
.lista-ano span{
    color:black;
    font-weight: 700;
}

